 <div class="papaOrderViewDiv">
     <div class="orderViewDiv">
                <p>Order Number: {{results.orderNumber}}</p>
                <p>Customer Name: {{results.customerName}}</p>
                <p>Job Address: {{results.jobAddress}}</p>
                <p>Tracking Status: {{results.trackingStatus}}</p>
                <p>Permit Status: {{results.permitStatus}}</p>
            </div>
 </div>